.veil{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,10%);
}

.modal{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,10%);
    width: 24vw;
    height: fit-content;
}

.modal-label{
    font-size: 4rem;
    text-align: center;
    width: 100%;
    flex-shrink: 1;
}

.modal > input {
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0,0,0,10%);
    border-radius: 1rem;
    padding: .4rem;
    margin: 0 2rem 0 2rem;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,10%);
    font-size: 1.4rem;
}

.modal > .action-row{
    display: flex;
    gap: .8rem;
    flex: 1;
    max-height: fit-content;
    padding: 1rem;
    margin: 1rem;
}

.action-row > button{
    font-family: "Tenali Ramakrishna", sans-serif;
    font-size: 1.25rem;
    border: none;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,10%);
    border-radius: 1rem;
    padding: .8rem;
    color: white;
    max-height: 4rem;
}

.action-row > button:hover{
    cursor: pointer;
}

.action-row > .modal-add{
    background-color: var(--app-primary);
}

.action-row > .modal-cancel{
    margin-left: auto;
    background-color: darkred;
}

@keyframes veil-drop {
    from{
        top: -100vh;
    }
    to{
        top: 0;
    }
}

@keyframes veil-lift {
    from{
        top: 0;
    }
    to{
        top: -100vh;
    }
}

@keyframes modal-drop {
    from{
        top: 0;
    }
    to{
        top: 50vh;
    }
}

@keyframes modal-lift {
    from{
        top: 50vh;
    }
    to{
        top: 0;
    }
}
